# Dependencies
node_modules

# Build output
dist

# Yarn (berry)
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# ReScript compiled artifacts
lib
.bsb.lock
*.bs.js
.merlin

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.gstack/
