.AvatarGenerator-container {
  position: relative;
  max-width: 780px;
  box-shadow: 0 4px 6px 0 rgba(24, 33, 45, 0.06);
  background-color: #ffffff;
  border: solid 1px rgba(24, 33, 45, 0.06);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 110px;
}

.AvatarGenerator-pngContainer {
  position: fixed;
  top: 0;
  left: -512px;
  width: 512px;
  height: 512px;
  background-color: white;
}

.AvatarGenerator-png {
  position: absolute;
  top: 0;
  left: 0;
  width: 512px;
  height: 512px;
}

.AvatarGenerator-avatar {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: transparent;
  overflow: hidden;
  top: -75px;
}

.AvatarGenerator-faceFeature {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.AvatarGenerator-row {
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

@media(min-width:768px) {
  .AvatarGenerator-row {
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
}

.AvatarGenerator-footer {
  width: 100%;
  background-color: #f9fafc;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 8px;
  text-align: center;
  margin-top: 24px;
}

@media(min-width:768px) {
  .AvatarGenerator-footerTop {
    margin-right: 48px;
    margin-left: 24px;
  }

  .AvatarGenerator-footer {
    width: 100%;
    background-color: #f9fafc;
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 32px;
  }
}
