@media (max-width: 767px) {
  .IconLink-container {
    display: inline-block;
    margin-top: 8px;
  }
}

.IconLink-container {
  display: inline-block;
  vertical-align: middle;
}

.IconLink-icon {
  margin-left: 8px;
}

