.Styler-container {
  text-align: center;
  width: 140px;
  margin-top: 32px;
}

.Styler-label {
  font-family: "CerebriSans-Regular";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.6px;
  color: #7c7f91;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: inline-block;
}

.Styler-model {
  overflow: hidden;
  width: 64px;
  height: 64px;
  margin-bottom: 14px;
}

.Styler-model.svg-Background {
  border-radius: 32px;
}

.Styler-colors {
  width: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Styler-picker {
  display: flex;
  justify-content: space-between;
}

.Styler-arrow--right { 
  transform: rotate(180deg);
}

.Styler-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0 10px;
}
